{namespace base}

/**
 * @param content
 * @param? frontMatter
 */
{template .render private="true"}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="minimum-scale=1.0, width=device-width" name="viewport">
	<meta name="format-detection" content="telephone=no">
	<meta name="description" content="{$frontMatter.description ?: ''}">

	<title>{$frontMatter.title}</title>
</head>
<body>
	<div id="main">
		{$content}
	</div>
</body>
</html>
{/template}