.about {
	background: $primary;
	text-align: center;
	padding: 150px 0;
}

.about-title {
	color: white;
	font-family: $font-family-secondary-bold;
	font-size: 36px;
	margin: 20px 0;
}

.about-description {
	color: rgba(white, .6);
	font-family: $font-family-sans-serif;
	font-size: 16px;
	line-height: 26px;
	margin: 0;
}