.topbar-logo-link {
	.icon {
		color: $accent;
		font-size: 24px;
		position: relative;
		top: 5px;
	}
}

.btn-accent {
	color: rgba($primary, .6);

	&:hover,
	&:focus {
		color: rgba($primary, .9);
	}
}

.docs .guide-header {
	margin-top: 64px;
}
