/* Autocomplete
   ========================================================================== */

.autocomplete {
	box-shadow: none;
	border-radius: 4px;
	border-left: 1px solid $accent;
	border-right: 1px solid $accent;
}

.autocomplete-top {
	border-top: 1px solid $accent;
	margin-bottom: -5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.autocomplete-bottom {
	border-bottom: 1px solid $accent;
	margin-top: -5px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.autocomplete .list {
	padding: 0;
}

.autocomplete .list .listitem {
	background-color: transparent;
	padding: 0;
}

.autocomplete .list .listitem:hover {
	background: none;
}

.autocomplete .list .list-main-content {
	margin: 0;
	width: 100%;
}

.autocomplete .list .list-text-primary {
	margin: 0;
}

.autocomplete-link {
	@include anim(background);
	background-color: #FFF;
	cursor: pointer;
	display: block;
	padding: 20px;
}

.autocomplete .list-group-item.active .autocomplete-link,
.autocomplete-link:hover,
.autocomplete-link:focus {
	background: rgba($accent, .1);
}

.autocomplete-title {
	color: $primary;
	font-size: 16px;
	font-weight: 700;
	font-family: $font-family-secondary;
}

.autocomplete-text {
	color: $primary;
	font-size: 14px;
	margin: 0;
}

.autocomplete-text em {
	background: rgba($accent, .2);
	color: $accent;
	font-style: normal;
	padding: 0 2px;
}