.footer {
	background: $primary;
	padding: 45px 0 30px;
}

.footer-description {
	color: rgba(white, .6);
	font-family: $font-family-sans-serif;
	font-size: 16px;
	text-align: center;

	a {
		color: white;
		border-bottom: 2px solid $accent;
		font-weight: 600;
	}
}

@media (min-width: $screen-md-min) {
	.footer-description {
		text-align: left;
	}

	.footer-description:last-child {
		text-align: right;
	}
}