.header {
	padding: 75px 0 0;
	text-align: center;
}

.header-title {
	font-family: $font-family-secondary-bold;
	font-size: 57px;
	margin: 0;

	.icon-16-flash {
		color: $accent;
		display: block;
		margin: 0 0 20px;
		font-size: 90px;
	}
}

.header-subtitle {
	font-family: $font-family-sans-serif;
	font-size: 19px;
	line-height: 24px;
	margin: 10px 0 35px;
}

.header-cta a {
	font-size: 17px;
	margin: 0 20px 20px;
}

.btn-accent {
	color: rgba($primary, .6);

	&:hover,
	&:focus {
		color: rgba($primary, .9);
	}
}

.gh-btns {
	margin: 0;
	margin-top: 75px;
	background: rgba($primary, .07);
	padding-top: 16px;
	padding-bottom: 10.5px;
}

@media (min-width: $screen-sm-min) {
  .header-title {
    font-size: 99px;
    .icon-16-flash {
    	font-size: 120px;
    }
  }

  .header-subtitle {
    font-size: 24px;
  }

  .header {
    padding: 75px 0 0;
  }

  .gh-btns {
  	margin-top: 75px;
  }
}

@media (min-width: $screen-md-min) {
	.header {
		padding: 150px 0 0;
	}

	.gh-btns {
		margin-top: 90px;
	}
}