.header {
	padding: 150px 0 100px;
	text-align: center;
}

.header-title {
	font-family: $font-family-secondary-bold;
	font-size: 89px;
	margin: 0;

	.icon-16-flash {
		color: $accent;
		display: block;
		margin: 0 0 20px;
		font-size: 120px;
	}
}

.header-title-js {
	color: rgba($primary, .6);
}

.header-subtitle {
	font-family: $font-family-sans-serif;
	font-size: 19px;
	line-height: 24px;
	margin: 10px 0 35px;
}

.header-cta a {
	font-size: 17px;
	margin: 0 20px 20px;
}

.btn-accent {
	color: rgba($primary, .6);

	&:hover,
	&:focus {
		color: rgba($primary, .9);
	}
}