.highlight {
	margin: 150px 0;
}

.highlight-title {
	font-family: $font-family-secondary-bold;
	font-size: 48px;
	margin: 20px 0;
}

.highlight-description {
	font-family: $font-family-sans-serif;
	font-size: 18px;
	line-height: 28px;
	margin: 0 0 20px;
}

.highlight-image {
	border-radius: 80px;
	max-width: 100%;
}