@media (min-width: $screen-md-min) {
	.topbar {
		position: fixed;
		top: 0;
		z-index: 1;
	}
}

.topbar-logo-link {
	.icon {
		color: $accent;
		font-size: 24px;
		position: relative;
		top: 5px;
	}

	.name {
		color: rgba(255, 255, 255, 0.9);
		font-family: "Galano Bold", sans-serif;
		font-size: 17px;
		font-weight: 400;
		line-height: 36px;
		margin-left: 8px;
	}

	.by {
		color: rgba(255, 255, 255, 0.3);
		font-family: "Galano Medium", sans-serif;
		font-size: 12px;
		font-weight: 400;
		margin-left: 8px;
		position: relative;
		top: 10px;
	}
}