$accent: #FFCC00;

@import "node_modules/westyle/src/westyle";

// General

@import "topbar";
@import "code";

// Home

@import "header";
@import "about";
@import "features";
@import "highlights";
@import "footer";

// Docs

@import "autocomplete";
@import "docs";
@import "guide";
@import "search";
@import "topics";

// Updates

@import "updates";
