---
description: "Child page."
title: "Child"
---

{namespace pageChildIndex}

/**
 * This template will be rendered by SoyWeb when the user loads static.soy.
 * It deliberately includes dummy data so the designer can get a feel for how
 * the task list will appear with real data rather with minimal copy and paste.
 * @param site
 */
{template .render}
	{call main.render data="all"}
		{param content kind="html"}
			<h1>Child</h1>

			<div id="moduleFinder">
				{call Navigation.render data="all"}
					{param section: $site.index /}
				{/call}
			</div>
		{/param}
	{/call}
{/template}
