.showcase {
	margin-top: 60px;

	.row {
		display: flex;
		flex-wrap: wrap;
	}
}

.showcase-item {
	margin-bottom: 40px;
}

.showcase-title {
	font-family: $font-primary;
	font-weight: 700;
	font-size: 36px;
	margin: 0 20px;
}

.showcase-description {
	font-family: $font-secondary;
	font-size: 16px;
	line-height: 24px;
	margin: 0 20px;
}

.showcase-img-wrapper {
	padding: 12px 22px 32px;
}

.showcase-img {
	border-radius: 3px;
	box-shadow: 0 10px 24px rgba(0,0,0,.5);
	max-width: 100%;
}